@model Aanvraagformulier.ViewModels.EditBijlageViewModel

@{
    ViewData["Title"] = "Edit Bijlage";
}

<h1>Edit Bijlage</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Naam" class="control-label"></label>
        <input asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AankoopId" class="control-label"></label>
        <select asp-for="AankoopId" class="form-control" asp-items="@(new SelectList(Model.Aankopen, "Id", "Naam"))"></select>
        <span asp-validation-for="AankoopId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
